<!DOCTYPE html>
<html lang='en'>
<head>
<title>Account Information</title>
<meta charset='utf-8'>
</head>
<body>

<div style="font-size: 14px; color:#004F9D; font-family: sans-serif; ">
Dear <b>#{dearWhom}#, </b><br>
<br>
I would like to thank you for giving consent at #{consentDate}#.<br>
Following terms and conditions are agreed by you.
<br>
            <ol>
                <li>You agree that you are duly authorised to give explicit informed consent to this contract on behalf of the company listed above, and that you are entering into this contract subject to Blue NRG’s market retail contract terms and conditions.<br/><br/></li>
                <li>You agree that you will be invoiced monthly, and that invoices will be send to the email address provided. Postal invoices attract a $5.00 administration fee per invoice.<br/><br/></li>
                <li>You acknowledge that your rates may change in line with Blue NRG’s market terms and conditions, and may be varied to account for changes in CPI and network tariffs charged to Blue NRG by your distributor. Price variations occur once a year, and reflect any variation in pass through costs from network distributors and to reflect any changes the Australian Bureau of Statistics’ Consumer Price Index. In New South Wales and South Australia, we may vary prices from 1 July of each year. In Victoria, we may vary prices from 1 January each year.<br/><br/></li>
                <li>You have a ten day cooling off period which begins from the day you receive your customer welcome pack. Should you cancel after your cooling off period, exit fees may apply.<br/><br/></li>
                <li>At the end of the supply term, the energy contract, including all product features, will continue for a further supply term, unless you advise otherwise or your contract is terminated.<br/><br/></li>
                <li>Exit fees for customers in Victoria: $20.00 for customers consuming less than 40 MWh p/a, $99.00 for customers consuming between 40 MWh and 100 MWh p/a, and $20.00 for month remaining in the minimum supply period for customers consuming between 100 MWh and 160 Mwh p/a. Exit fees for customers in NSW and SA: $130.00 if the contract is terminated within one year of the minimum supply period. Subsequent termination will incur a fee of $45.<br/><br/></li>
                <li>Solar admin fee is $0.09/day for each kW of your solar system.<br/><br/></li>
            </ol>

<br>
<b>Sincerely,</b> <br><br>

</div>
</body>
</html>