<!DOCTYPE html>
<html lang='en'>
<head>
<title>Account Information</title>
<meta charset='utf-8'>
</head>
<body>

<font style="font-size: 14px; color:#004F9D; font-family: sans-serif; ">
Dear <b>OOOOO, </b><br>
<br>
I would like to thank you for selecting our offer.<br>
<br>
Please find enclosed our contract for your agreement document. Please sign and return it marked for my attention.<br>
If you have any further questions or queries, please do not hesitate to contact us on <font color="#009797">OOOOO</font> <br>
<br>
<b>Sincerely,</b> <br><br>

</font>
</body>
</html>