<!DOCTYPE html>
<html lang='en'>
<head>
<title>ESP::EMAIL</title>
<meta charset='utf-8'>
</head>
<body>

<div style="font-size: 13px; color:#262626; font-family: sans-serif; ">
    <br>
    Please find attached your Empower Value Adding Products and Services savings estimate which provides an indication of just how much you can save on your energy consumption and costs. 
    <br>
    <br>
    The future of energy is about sustainability and renewables and this means challenging the status quo of the energy market and taking a whole new approach to energy usage. At Empower we value and embrace innovation and are constantly looking for new ways to help you save on energy. For us this is all about finding and developing smarter ways for our customers to cut their energy bills by using less and more sustainable sources of energy.
    <br>
    <br>
    If you would like to arrange an <span style="font-weight: bold;text-decoration: underline;">appointment for a free assessment</span> at your workplace to investigate what Empower can do to help you reduce your energy consumption, please reply to this email or send to Empower directly advising your preferred appointment day and time and we will schedule you in. Alternatively, give us a call and let us know what you would like quoted. 
    <br>
    <br>
    <br>
</div>

<div style="font-size: 11px; color:#8A8A8A; font-family: sans-serif; font-weight: bold; ">
    <span style="font-size: 13px;color: #5BB9CA;">Empower Contact Details</span>
    <table style="font-size: small; border-color: #FFFFFF; border: 0px solid white;font-weight: normal;">
        <colgroup>
            <col style="width: 10px;" />
            <col style="width: 5px;" />
            <col style="width: *" />
        </colgroup>
        <tr><td style="font-weight: bold;">P</td><td></td><td>1300 665 285</td></tr>
        <tr><td style="font-weight: bold;">F</td><td></td><td>1300 881 903</td></tr>
        <tr><td style="font-weight: bold;">E</td><td></td><td>sales@smarterenergysavings.com.au</td></tr>
        <tr><td style="font-weight: bold;">W</td><td></td><td>smarterenergysavings.com.au</td></tr>
        <tr><td style="font-weight: bold;">A</td><td></td><td>P.O. Box 311 Surrey Hills Vic 3127</td></tr>
        <tr><td colspan="3" height="5px"></td></tr>
    </table>
</div>
</body>
</html>